<div class="container d-flex justify-content-center align-items-center" style="height: 50vh;">
    <form class="form-signin" [formGroup]="form" (submit)="submit()">
        <div *ngIf="cls" class="alert alert-{{cls}}" role="alert">
            {{message}}
        </div>
        <h1 class="h3 mb-3 fw-normal">Enter your account's email here:</h1>
       
        <input formControlName="email" type="email" class="form-control mb-2"  placeholder="name@example.com" required autofocus>


    
        <button class="btn btn-primary w-100 py-2" type="submit">Submit</button>
      </form>
    </div>

