<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="/" class="nav-link">Home</a>
      </li>
    </ul>
  
    <ul class="navbar-nav my-2 my-lg-0">
        <li class="nav-item" *ngIf="authenticated">
            <a routerLink="/login" class="nav-link" (click)="logout()">Logout</a>
          </li>

        <ng-container *ngIf="!authenticated">
      <li class="nav-item">
        <a routerLink="/login" class="nav-link">Login</a>
      </li>
      <li class="nav-item">
        <a routerLink="/register" class="nav-link">Register</a>
      </li>
        </ng-container>
    </ul>
  </nav>

